body{
    text-align:center;
}

.btn{
    width:200px;
    height: 200px;
    border-radius: 20%;
    border:10px solid black;
    margin:2rem;
}

.btn-container{
    display:flex;
    justify-content:center;
}

.salmon{
    background-color: #EFB698;
}

.orchid{
    background-color: #381741;
}

.mauve{
    background-color: #C598AF;
}

.orange{
    background-color: #E86B17;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: #01949A;
}